* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assest/bg-calc.jpg");
  background-size: cover; /* This makes the background image cover the entire element */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-position: center; /* This centers the image within the element */
  position: relative;
}

.calculator {
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #313a53, #1A1A2E);
  width: 400px;
  box-shadow: 35px 35px 60px rgba(26, 26, 46, 0.6);

}

.calculator-screen {
  background-color: transparent;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.calculator-input {
  width: 100%;
  height: 100px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  text-align: right;
}

.main-screen {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
}

.previous {
  font-size: 1.5rem;
  font-weight: 300;
  color: #747e9b;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: transparent;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  color: white;
  font-size: 2rem;
}

.all-clear {
  height: 80px;
}

.oprands {
  height: 80px;
  border: 5px solid transparent;
  background: linear-gradient(345deg, #2a2a3f, #1f2638) padding-box,
  linear-gradient(315deg, #1A1A2E, #313a53) border-box;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.oprands:hover {
  border: 5px solid transparent;
  background: linear-gradient(345deg, #363650, #1f2638) padding-box,
  linear-gradient(315deg, #1A1A2E, #313a53) border-box;
  border-radius: 25px;
}

.operator {
  height: 80px;
  border: 5px solid transparent;
  background: linear-gradient(135deg, #ff1100, #ff8801) padding-box,
  linear-gradient(45deg, #ff8801, #ff1100) border-box;
  border-radius: 25px;
  font-size: 2.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.operator:hover {
  border: 5px solid transparent;
  background: linear-gradient(135deg, #fc4235, #f7972a) padding-box,
  linear-gradient(45deg, #ff8801, #ff1100) border-box;
  border-radius: 25px;
}

.top-btn {
  height: 80px;
  border: 5px solid transparent;
  background: linear-gradient(345deg, rgb(84, 95, 128), #37445c) padding-box,
  linear-gradient(315deg, #37445c, #506080) border-box;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.top-btn:hover {
  height: 80px;
  border: 5px solid transparent;
  background: linear-gradient(345deg, rgb(97, 109, 145), #37445c) padding-box,
  linear-gradient(315deg, #37445c, #506080) border-box;
  border-radius: 25px;
}



.zero {
  grid-column: span 2;
}