body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #c1c5d4;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.calculator {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  background-color: #ffffff;
}

.calculator-screen {
  background-color: #252525;
  padding-right: 20px;
  padding-left: 20px; 
  margin: 0;
}

.calculator-input {
  width: 100%;
  height: 120px;
  background-color: #252525;
  color: #ffffff;
  border: none;
  text-align: right;
  font-size: 2.5rem;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: #d4d4d2;
  padding: 20px;
}

button {
  height: 120px;
  font-size: 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: radial-gradient(farthest-corner, #ffffff, #dadada);
}

button:hover {
  background-color: #f0f0f0;
}

.operator {
  background: linear-gradient(45deg, #ff5100, #ffc401);
  color: white;
}

.operator:hover {
  background: linear-gradient(45deg, #ff7536, #fad046);
}

.equal-sign {
  background: linear-gradient(45deg, #008f1f, #88ff01);
  color: white;
  grid-column: span 2;
}

.zero {
  grid-column: span 2;
}

.equal-sign:hover {
  background: linear-gradient(45deg, #02c72d, #c8ff01);
}

.all-clear {
  background: linear-gradient(45deg, #e90000, #ff5e01);
  color: white;
}

.all-clear:hover {
  background: linear-gradient(45deg, #ff1010, #ff9101);
}

.delete {
  background: linear-gradient(45deg, #7e0101, #ff0101);
  color: white;
}

.delete:hover {
  background: linear-gradient(45deg, #ad0000, #ff4901);
}

.decimal {
  background-color: #e0e0e0;
}
